@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-jakarta), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  letter-spacing: -0.04em !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full p-4 rounded-xl bg-slate-950 border border-slate-800 text-white
         focus:outline-none focus:ring-2 focus:ring-blue-500
         transition-all placeholder:text-slate-600;
}
